<div class="content">
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
  <app-question></app-question>
  <app-answer></app-answer>
</div>


